

* 



h2 {
    font-size: 45px;
    font-weight: 600;
    margin: 10px;
    color: white;
  }
  
  h2 span {
    font-size: 30px;
    color: white;
  }
  
  p {
    font-size: 20px;
    color: white;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .container > div {
    cursor: pointer;
    height: 210px;
    background-size: cover;
    background-attachment: fixed;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    transition: all 0.5s ease-in;
  }
  
  .container > div:hover {
    opacity: 0.7;
    transform: scale(0.98);
  }
  
  .container > div:nth-of-type(1) {
    grid-column: 1 / 3;
  }
  
  .container > div:nth-of-type(6) {
    grid-column: 3 / 5;
  }
  
  .container > div:nth-of-type(9) {
    grid-column: 3 / 5;
  }
  
  .container > div:nth-of-type(10) {
    grid-column: 1 / 3;
  }
  
  .bg1 {
   background: url('https://media.giphy.com/media/gRnSZSRzOJeG4/giphy.gif');
  }
  
  .bg2 {
    background: url('https://cache.desktopnexus.com/cropped-wallpapers/1224/1224329-1536x864-[DesktopNexus.com].jpg?st=aqD32q3f9p1gLIxauq-2ag&e=1589633890');
    color: #333;
    
  }
  
  h2 i {
    color:white;
      font-weight: 600;
  }